ADORE/pkgs/Wadl/FlowCISNotificarEmail_Aprovada_ADORE.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://msmanaged-na.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="FlowCISNotificarEmail_Aprovada_ADORE" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="FlowCISNotificarEmail_Aprovada_ADORE" />
  <grammars>
    <jsonTypes targetNamespace="https://msmanaged-na.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_Moverarquivo_ArquivoaMover_def" />
      <string name="ManualTriggerInput_Enviarumemail_ux28_V2_ux29__Para_def" />
      <string name="ManualTriggerInput_Enviarumemail_ux28_V2_ux29__Assunto_def" />
      <string name="ManualTriggerInput_Enviarumemail_ux28_V2_ux29__Corpo_def" />
      <string name="ManualTriggerInput_Enviarumemail_ux28_V2_ux29__Corpo_1_def" />
      <string name="ManualTriggerInput_Enviarumemail_ux28_V2_ux29__Corpo_2_def" />
      <string name="ManualTriggerInput_Enviarumemail_ux28_V2_ux29__Corpo_3_def" />
      <string name="ManualTriggerInput_Enviarumemail_ux28_V2_ux29__Corpo_4_def" />
      <string name="ManualTriggerInput_Enviarumemail_ux28_V2_ux29__Corpo_5_def" />
      <object name="ManualTriggerInput">
        <property name="Moverarquivo_ArquivoaMover" type="string" />
        <property name="Enviarumemail(V2)_Para" type="string" />
        <property name="Enviarumemail(V2)_Assunto" type="string" />
        <property name="Enviarumemail(V2)_Corpo" type="string" />
        <property name="Enviarumemail(V2)_Corpo_1" type="string" />
        <property name="Enviarumemail(V2)_Corpo_2" type="string" />
        <property name="Enviarumemail(V2)_Corpo_3" type="string" />
        <property name="Enviarumemail(V2)_Corpo_4" type="string" />
        <property name="Enviarumemail(V2)_Corpo_5" type="string" />
      </object>
      <boolean name="ResponseActionOutput_failed_def" />
      <object name="ResponseActionOutput">
        <property name="failed" type="boolean" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://msmanaged-na.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="Moverarquivo_ArquivoaMover" path="/Moverarquivo_ArquivoaMover" type="xs:string" required="true" />
            <param style="plain" name="Enviarumemail(V2)_Para" path="/Enviarumemail(V2)_Para" type="xs:string" required="true" />
            <param style="plain" name="Enviarumemail(V2)_Assunto" path="/Enviarumemail(V2)_Assunto" type="xs:string" required="true" />
            <param style="plain" name="Enviarumemail(V2)_Corpo" path="/Enviarumemail(V2)_Corpo" type="xs:string" required="true" />
            <param style="plain" name="Enviarumemail(V2)_Corpo_1" path="/Enviarumemail(V2)_Corpo_1" type="xs:string" required="true" />
            <param style="plain" name="Enviarumemail(V2)_Corpo_2" path="/Enviarumemail(V2)_Corpo_2" type="xs:string" required="true" />
            <param style="plain" name="Enviarumemail(V2)_Corpo_3" path="/Enviarumemail(V2)_Corpo_3" type="xs:string" required="true" />
            <param style="plain" name="Enviarumemail(V2)_Corpo_4" path="/Enviarumemail(V2)_Corpo_4" type="xs:string" required="true" />
            <param style="plain" name="Enviarumemail(V2)_Corpo_5" path="/Enviarumemail(V2)_Corpo_5" type="xs:string" required="true" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>