ADORE/pkgs/Wadl/FlowSimuladorPVSendEmail.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://msmanaged-na.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="FlowSimuladorPVSendEmail" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="FlowSimuladorPVSendEmail" />
  <grammars>
    <jsonTypes targetNamespace="https://msmanaged-na.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_Enviarume-mail_ux28_V2_ux29__Para_def" />
      <string name="ManualTriggerInput_Enviarume-mail_ux28_V2_ux29__Corpo_def" />
      <string name="ManualTriggerInput_Enviarume-mail_ux28_V2_ux29__Corpo_1_def" />
      <string name="ManualTriggerInput_Enviarume-mail_ux28_V2_ux29__Corpo_2_def" />
      <string name="ManualTriggerInput_Enviarume-mail_ux28_V2_ux29__Corpo_3_def" />
      <string name="ManualTriggerInput_Enviarume-mail_ux28_V2_ux29__Corpo_4_def" />
      <string name="ManualTriggerInput_Enviarume-mail_ux28_V2_ux29__Corpo_5_def" />
      <string name="ManualTriggerInput_Enviarume-mail_ux28_V2_ux29__Corpo_6_def" />
      <string name="ManualTriggerInput_Enviarume-mail_ux28_V2_ux29__Corpo_7_def" />
      <string name="ManualTriggerInput_Enviarume-mail_ux28_V2_ux29__Corpo_8_def" />
      <string name="ManualTriggerInput_Enviarume-mail_ux28_V2_ux29__Corpo_9_def" />
      <string name="ManualTriggerInput_Enviarume-mail_ux28_V2_ux29__Corpo_10_def" />
      <string name="ManualTriggerInput_Enviarume-mail_ux28_V2_ux29__Corpo_11_def" />
      <string name="ManualTriggerInput_Enviarume-mail_ux28_V2_ux29__Corpo_12_def" />
      <string name="ManualTriggerInput_Enviarume-mail_ux28_V2_ux29__Corpo_13_def" />
      <string name="ManualTriggerInput_Enviarume-mail_ux28_V2_ux29__Corpo_14_def" />
      <string name="ManualTriggerInput_Enviarume-mail_ux28_V2_ux29__Corpo_15_def" />
      <string name="ManualTriggerInput_Enviarume-mail_ux28_V2_ux29__Corpo_16_def" />
      <string name="ManualTriggerInput_Enviarume-mail_ux28_V2_ux29__Corpo_17_def" />
      <object name="ManualTriggerInput">
        <property name="Enviarume-mail(V2)_Para" type="string" />
        <property name="Enviarume-mail(V2)_Corpo" type="string" />
        <property name="Enviarume-mail(V2)_Corpo_1" type="string" />
        <property name="Enviarume-mail(V2)_Corpo_2" type="string" />
        <property name="Enviarume-mail(V2)_Corpo_3" type="string" />
        <property name="Enviarume-mail(V2)_Corpo_4" type="string" />
        <property name="Enviarume-mail(V2)_Corpo_5" type="string" />
        <property name="Enviarume-mail(V2)_Corpo_6" type="string" />
        <property name="Enviarume-mail(V2)_Corpo_7" type="string" />
        <property name="Enviarume-mail(V2)_Corpo_8" type="string" />
        <property name="Enviarume-mail(V2)_Corpo_9" type="string" />
        <property name="Enviarume-mail(V2)_Corpo_10" type="string" />
        <property name="Enviarume-mail(V2)_Corpo_11" type="string" />
        <property name="Enviarume-mail(V2)_Corpo_12" type="string" />
        <property name="Enviarume-mail(V2)_Corpo_13" type="string" />
        <property name="Enviarume-mail(V2)_Corpo_14" type="string" />
        <property name="Enviarume-mail(V2)_Corpo_15" type="string" />
        <property name="Enviarume-mail(V2)_Corpo_16" type="string" />
        <property name="Enviarume-mail(V2)_Corpo_17" type="string" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://msmanaged-na.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="Enviarume-mail(V2)_Para" path="/Enviarume-mail(V2)_Para" type="xs:string" required="true" />
            <param style="plain" name="Enviarume-mail(V2)_Corpo" path="/Enviarume-mail(V2)_Corpo" type="xs:string" required="true" />
            <param style="plain" name="Enviarume-mail(V2)_Corpo_1" path="/Enviarume-mail(V2)_Corpo_1" type="xs:string" required="true" />
            <param style="plain" name="Enviarume-mail(V2)_Corpo_2" path="/Enviarume-mail(V2)_Corpo_2" type="xs:string" required="true" />
            <param style="plain" name="Enviarume-mail(V2)_Corpo_3" path="/Enviarume-mail(V2)_Corpo_3" type="xs:string" required="true" />
            <param style="plain" name="Enviarume-mail(V2)_Corpo_4" path="/Enviarume-mail(V2)_Corpo_4" type="xs:string" required="true" />
            <param style="plain" name="Enviarume-mail(V2)_Corpo_5" path="/Enviarume-mail(V2)_Corpo_5" type="xs:string" required="true" />
            <param style="plain" name="Enviarume-mail(V2)_Corpo_6" path="/Enviarume-mail(V2)_Corpo_6" type="xs:string" required="true" />
            <param style="plain" name="Enviarume-mail(V2)_Corpo_7" path="/Enviarume-mail(V2)_Corpo_7" type="xs:string" required="true" />
            <param style="plain" name="Enviarume-mail(V2)_Corpo_8" path="/Enviarume-mail(V2)_Corpo_8" type="xs:string" required="true" />
            <param style="plain" name="Enviarume-mail(V2)_Corpo_9" path="/Enviarume-mail(V2)_Corpo_9" type="xs:string" required="true" />
            <param style="plain" name="Enviarume-mail(V2)_Corpo_10" path="/Enviarume-mail(V2)_Corpo_10" type="xs:string" required="true" />
            <param style="plain" name="Enviarume-mail(V2)_Corpo_11" path="/Enviarume-mail(V2)_Corpo_11" type="xs:string" required="true" />
            <param style="plain" name="Enviarume-mail(V2)_Corpo_12" path="/Enviarume-mail(V2)_Corpo_12" type="xs:string" required="true" />
            <param style="plain" name="Enviarume-mail(V2)_Corpo_13" path="/Enviarume-mail(V2)_Corpo_13" type="xs:string" required="true" />
            <param style="plain" name="Enviarume-mail(V2)_Corpo_14" path="/Enviarume-mail(V2)_Corpo_14" type="xs:string" required="true" />
            <param style="plain" name="Enviarume-mail(V2)_Corpo_15" path="/Enviarume-mail(V2)_Corpo_15" type="xs:string" required="true" />
            <param style="plain" name="Enviarume-mail(V2)_Corpo_16" path="/Enviarume-mail(V2)_Corpo_16" type="xs:string" required="true" />
            <param style="plain" name="Enviarume-mail(V2)_Corpo_17" path="/Enviarume-mail(V2)_Corpo_17" type="xs:string" required="true" />
          </representation>
        </request>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>