ADORE/pkgs/Wadl/FlowAtivoCriarNovaPastaModelo_ADORE.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://msmanaged-na.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="FlowAtivoCriarNovaPastaModelo_ADORE" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="FlowAtivoCriarNovaPastaModelo_ADORE" />
  <grammars>
    <jsonTypes targetNamespace="https://msmanaged-na.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <number name="ManualTriggerInput_Criaritem_ID_ESPELHO_def" />
      <string name="ManualTriggerInput_Criaritem_Tipo_Sigla_def" />
      <string name="ManualTriggerInput_Criaritem_Tipo_Descri_uxE7_uxE3_o_def" />
      <string name="ManualTriggerInput_Criaritem_Fabricante_def" />
      <string name="ManualTriggerInput_Criaritem_Modelo_def" />
      <string name="ManualTriggerInput_Criaritem_Modelo_1_def" />
      <object name="ManualTriggerInput">
        <property name="Criaritem_ID_ESPELHO" type="number" />
        <property name="Criaritem_Tipo_Sigla" type="string" />
        <property name="Criaritem_Tipo_Descrição" type="string" />
        <property name="Criaritem_Fabricante" type="string" />
        <property name="Criaritem_Modelo" type="string" />
        <property name="Criaritem_Modelo_1" type="string" />
      </object>
      <boolean name="ResponseActionOutput_failed_def" />
      <object name="ResponseActionOutput">
        <property name="failed" type="boolean" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://msmanaged-na.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="Criaritem_ID_ESPELHO" path="/Criaritem_ID_ESPELHO" type="xs:double" required="true" />
            <param style="plain" name="Criaritem_Tipo_Sigla" path="/Criaritem_Tipo_Sigla" type="xs:string" required="true" />
            <param style="plain" name="Criaritem_Tipo_Descrição" path="/Criaritem_Tipo_Descrição" type="xs:string" required="true" />
            <param style="plain" name="Criaritem_Fabricante" path="/Criaritem_Fabricante" type="xs:string" required="true" />
            <param style="plain" name="Criaritem_Modelo" path="/Criaritem_Modelo" type="xs:string" required="true" />
            <param style="plain" name="Criaritem_Modelo_1" path="/Criaritem_Modelo_1" type="xs:string" required="true" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>