ADORE/pkgs/Wadl/FlowQRCodeToEmail.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://msmanaged-na.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="FlowQRCodeToEmail" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="FlowQRCodeToEmail" />
  <grammars>
    <jsonTypes targetNamespace="https://msmanaged-na.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_Criararquivo_Conte_uxFA_dodoArquivo_def" />
      <string name="ManualTriggerInput_Enviarumemail_ux28_V2_ux29__Para_def" />
      <string name="ManualTriggerInput_Enviarumemail_ux28_V2_ux29__Assunto_def" />
      <object name="ManualTriggerInput">
        <property name="Criararquivo_ConteúdodoArquivo" type="string" />
        <property name="Enviarumemail(V2)_Para" type="string" />
        <property name="Enviarumemail(V2)_Assunto" type="string" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://msmanaged-na.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="Criararquivo_ConteúdodoArquivo" path="/Criararquivo_ConteúdodoArquivo" type="xs:string" required="true" />
            <param style="plain" name="Enviarumemail(V2)_Para" path="/Enviarumemail(V2)_Para" type="xs:string" required="true" />
            <param style="plain" name="Enviarumemail(V2)_Assunto" path="/Enviarumemail(V2)_Assunto" type="xs:string" required="true" />
          </representation>
        </request>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>